<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Simple PHP App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Use of template variables -->

        <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
       <?php echo "<style>body {margin-top: 40px; background-color:"  .  "<%= @bgcolor %>" . ";}</style>" ?>
        <div class="container">
            <div class="hero-unit">
                <h1>Welcome to Chef :)</h1>
                <h2>Congratulations!</h2>
                <p>Bingo !! Your PHP application is now running on the host &ldquo;<?php echo gethostname(); ?>&rdquo;.</p>
                <p>This host is running PHP version <?php echo phpversion(); ?>.</p>
                <p> The file has been created by the chef recipe  <b> "<%= node['recipes'][0] %>" </b>  </p>
                 <p> The nodes ip address is  <b>"<%= node['ipaddress'] %>"  </b> </p>
                 <p> The nodes fully qualified domain name is  <b> "<%= node['fqdn'] %>" </b> </p>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>

</html>
